body {
    background: lightskyblue;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-container {
    display: flex;
}

ul {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}