body {
    background: lightskyblue;
    color: black;
}

.dark-mode {
    background-color: darkblue;
    color: lightyellow;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-container {
    display: flex;
}

ul {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}